registrysync:
  # Changing user or UID requires manual rerun of setup.py after
  systemduser: 'transferbuddy'
  # UID must be 1001 or higher
  systemduid: '1001'

  skopeo:
    dest-tls-verify: False
    source: "/opt/registrysync/mycontainers/"
    registrydestination: "localhost:5000"
    