# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__
*.py[cod]

# C extensions
*.so

**/*.log
container_mirror/transferred-containers.db
config.yaml
mirrorsync.log
container_mirror/auth.json
container_mirror/files/Dockerfile
apt_mirror/files/Dockerfile
apt_mirror/files/apt-mirror.list
yum_mirror/files/Dockerfile
yum_mirror/files/rundnf.sh
yum_mirror/files/yum-mirrors.repo
pypi_mirror/files/Dockerfile
pypi_mirror/files/bandersnatch.conf

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
