# mirrorsync
mirrorsync:
  # Changing user or UID requires manual rerun of setup.py after
  systemduser: 'mirrorsync'
  # UID must be 1001 or higher
  systemduid: '1001'
  # Enable proxy. Proxy settings must be set in the user folder ~/.docker/config.json
  configproxy: False
  # Set Docker networking mode
  networkmode: 'bridge'

# Skopeo Settings
skopeo:
  enabled: True
  # Local Destination to sync to
  destination: "/tmp/mirrors/containers/"
  # How often to sync images in images.txt in minutes. Scopeo runs
  # continiously and checks at this interval for new images to pull from images.txt.
  frequency: '1'
  dryrun: True
  # Enable authentication for skopeo inspect and sync
  authentication:
    enabled: False
    authfile: '/opt/mirrorsync/container_mirror/auth.json'
  rclone:
    enabled: False
    destination: "remote:/opt/sync_registry/mycontainers/"

helm:
  # Enabling helm charts automatically runs skopeo to download images.
  enabled: False
  destination: '/tmp/mirrors/helm/'
  # Remote server path to rclone to
  rclone:
    enabled: False
    destination: "remote:/opt/sync_registry/helm/"
  # How often to sync in minutes. Leave blank to disable.
  frequency: '480'
  # Time of day to run a sync
  timeofday: ''
  # Sync on systemd service startup
  onstartup: True
  kubeversion: 'v1.23.13'
  mirrors:
    rancher-stable:
      url: 'https://releases.rancher.com/server-charts/stable'
      charts:
        - 'rancher'
    harbor:
      url: 'https://helm.goharbor.io'
      charts:
        - harbor

# Ubuntu Repo Settings
apt:
  enabled: True
  # Local Destination to sync to
  destination: "/tmp/mirrors/apt"
  # Remote server path to rclone to
  rclone:
    enabled: False
    destination: "remote:/tmp/mirrors/apt"
  # How often to sync in minutes. Leave blank to disable.
  frequency: '1'
  # Time of day to run a sync
  timeofday: ''
  # Sync on systemd service startup
  onstartup: True
  # Settings for sync and repos. Default Ubuntu 20.04
  basepath: "/var/spool/apt-mirror"
  run_postmirror: '0'
  nthreads: "20"
  tilde: "0"
  repos:
    saltstack-ubuntu:
      mirror: 'deb https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004 focal main'
      gpgkeyfiles: 
        - 'https://repo.saltproject.io/py3/ubuntu/20.04/amd64/3004/salt-archive-keyring.gpg'
      additionalfiles:
        - 'https://mirror.dst.ca/rocky/9/isos/x86_64/Rocky-9.0-x86_64-dvd.iso'
      additionaldirectories:
        - 'https://mirror.csclub.uwaterloo.ca/ubuntu-releases/focal/'
    # ubuntu-focal:
    #   mirror: 'deb http://archive.ubuntu.com/ubuntu focal main restricted universe multiverse'
  clean: 
    - 'http://archive.ubuntu.com/ubuntu'

# CentOS/RockyLinux Repo Settings
yum:
  enabled: True
  # Local Destination to sync to
  destination: "/tmp/mirrors/centos"
  # Remote server path to rclone to
  rclone:
    enabled: False
    destination: "remote:/tmp/mirrors/yum"
  # How often to sync in minutes. Leave blank to disable.
  frequency: ''
  # Time of day to run a sync
  timeofday: ''
  # Sync on systemd service startup
  onstartup: False
  repos:
    saltstack-redhat8:
      repoid: 'saltstack-redhat8'
      name: 'Saltstack Redhat 8'
      baseurl: 'https://repo.saltproject.io/py3/redhat/8/x86_64/3004/'
      enabled: True
      gpgkeyfiles:
        - 'https://repo.saltproject.io/py3/redhat/8/x86_64/3004/SALTSTACK-GPG-KEY.pub'
    centos7-base:
      repoid: 'centos-7-base'
      name: 'CentOS 7 Base'
      baseurl: 'http://mirror.centos.org/centos/7/os/x86_64/'
      enabled: True
      gpgkeyfiles:
        - 'http://mirror.csclub.uwaterloo.ca/centos/RPM-GPG-KEY-CentOS-7'
      additionaldirectories:
        - 'http://mirror.csclub.uwaterloo.ca/centos/7/isos/x86_64/'
    centos7-updates:
      repoid: 'centos-7-updates'
      name: 'CentOS 7 Updates'
      baseurl: 'http://mirror.centos.org/centos/7/updates/x86_64/'
      enabled: False  
    centos7-extras:
      repoid: 'centos-7-extras'
      name: 'CentOS 7 Extras'
      baseurl: 'http://mirror.centos.org/centos/7/extras/x86_64/'
      enabled: False

# Pypi/Bandersnatch Mirror Settings
pypi:
  enabled: True
  # Local Destination to sync to
  destination: '/tmp/mirrors/pypi'
  # Remote server path to rclone to
  rclone:
    enabled: False
    destination: "remote:/tmp/mirrors/pypi"
  # How often to run in minutes. Leave blank to disable.
  frequency: ''
  # Time of day to run a sync
  timeofday: ''
  onstartup: False
  timeout: '30'
  forcecheck: False
  plugins:
    - exclude_platform
    - allowlist_project
    - size_project_metadata
    - latest_release
    - prerelease_release
  # How many releases to keep
  latestreleasekeep: '1'

  # Don't download these packages
  blocklist:
    platforms:
      - windows
      - macos
      - freebsd
      - py2.4
      - py2.5
      - py2.6
      - py2.7
    packages:  
      - tf-nightly-gpu
      - tensorflow-gpu
  # Max Package Size to Sync. A package on allowlist overrides this.
  maxpackagesize: '1MB'

# rclone HTTPS Mirror
# This module loops through various http/https sources and mirrors them to the destination using rclone
rclone:
  enabled: False
  # How often to run in hours. Leave blank to disable.
  frequency: '480'
  # Time of day to run a sync
  timeofday: ''
  # Start running on startup
  onstartup: True
  # Set bandwidth limits. See https://rclone.org/docs/#bwlimit-bandwidth-spec
  bwlimit: '10G:5M'
  
  mirrors:
    centos:
      # The source needs to be an https or http url
      source: 'http://centos.mirror.rafal.ca'
      # The path or filename from the source to sync. Can just be '/' for everything.
      sourcepath: '/8.2.2004'
      # Destination must be set to a local path or remote you have setup with 'rclone config'
      destination: 'remote:/data/temp/centos/8.2.2004'
      # Exclude these folders from download
      exclude:
        - 8/**
        - 8-stream/**
        - 8.0.1905/**
        - 8.1.1911/**
        - 8.2.2004/**
        - 8.3.2011/**
        - 8.4.2105/**
        - 8.5.2111/**
    # ubuntu-archive:
    #   source: 'https://mirror.csclub.uwaterloo.ca/ubuntu'
    #   # Destination can be remote or local
    #   destination: 'remote:/data/temp/ubuntu/'
    #   # List of exclude patterns
    #   exclude:
    #     - '/test'