############# config ##################
#
set base_path    {{ apt.basepath }}
#
# set mirror_path  $base_path/mirror
# set skel_path    $base_path/skel
# set var_path     $base_path/var
# set cleanscript $var_path/clean.sh
# set defaultarch  <running host architecture>
# set postmirror_script $var_path/postmirror.sh
{%- if apt.run_postmirror is defined and apt.run_postmirror|length %}
set run_postmirror {{ apt.run_postmirror }}
{% else %}
# set run_postmirror 0
{%- endif %}
set nthreads     {{ apt.nthreads }}
set _tilde {{ apt.tilde }}
#
############# end config ##############

{% for repo in apt.repos -%}
{{ repo }}
{% endfor %}

clean {{ apt.clean }}