[Unit]
Description=mirrorsync application
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
User={{ cfg.systemduser }}
Group={{ cfg.systemduser }}
Restart=always
ExecStart=/home/{{ cfg.systemduser }}/virtualenv/bin/python3 /opt/mirrorsync/main.py
ExecStop=/home/{{ cfg.systemduser }}/virtualenv/bin/python3 /opt/mirrorsync/files/shutdown.py
Environment=PYTHONPATH=/opt/mirrorsync/

[Install]
WantedBy=multi-user.target
