[Unit]
Description=mirrorsync application
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
User={{ cfg.systemduser }}
Group={{ cfg.systemduser }}
Restart=always
ExecStart=/usr/bin/python3 /opt/mirrorsync/main.py
ExecStop=-/usr/bin/docker stop apt-mirror yum-mirror pypi-mirror container-mirror && /usr/bin/docker rm apt-mirror yum-mirror pypi-mirror container-mirror

[Install]
WantedBy=multi-user.target
