#!/bin/bash
# Refresh mirror every X hours
{% for repo in yum.repos -%}
/bin/dnf reposync -g --delete -p /mnt/repos/ --repoid={{ yum.repos[repo].repoid }} --newest-only --download-metadata
{% endfor %}
