#!/bin/bash
# Refresh mirror every X hours
{% for repo in yum.repos -%}
{% if yum.repos[repo].enabled == True -%}
/bin/dnf reposync -g --delete -p /mnt/repos/ --repoid={{ yum.repos[repo].repoid }} --download-metadata
{% if yum.repos[repo].downloadgpgkey == True -%}
/bin/wget -P /mnt/repos/{{ yum.repos[repo].repoid }} {{ yum.repos[repo].gpgurl }}
{% endif -%}
{% endif -%}
{% endfor %}
